aws_region          = "us-east-1"
environment         = "prod"
project_name        = "cartiva"
vpc_cidr            = "10.0.0.0/16"
availability_zones  = ["us-east-1a", "us-east-1b", "us-east-1c"]
kubernetes_version  = "1.29"
node_instance_types = ["t3.medium", "t3a.medium"]
node_min_size       = 2
node_max_size       = 10
node_desired_size   = 3
domain_name         = "cartiva.mall"
